@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

* {
    margin: auto;
    padding: 0%;
    font-family: "Roboto", sans-serif;
    color: white;
    box-sizing: border-box;
}

body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1.0), rgba(30, 30, 30, 1.0)) no-repeat;
    background-size: cover;
}

.header {
    position: fixed;
    top: 5px;
    left: 8%;
    display: flex;
    backdrop-filter: blur(10px);
    width: 85%;
    height: 85px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(75deg, rgb(0, 56, 34, 0), rgb(0, 56, 34, 0));
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    border-bottom: 2px solid rgba(0, 56, 34, 0);
    z-index: 2;
    border-radius: 50px;
}

.navbar {
    flex: 1;
    text-align: right;
    padding-right: 100px;
}

.logo {
    margin: 30px 0;
    margin-left: 100px;
    transition: 0.2s;
}

.logo:hover {
    cursor: pointer;
    transform: scale(0.9);
}

.menu {
	width: 25px;
	margin-right: 10%;
	cursor: pointer;
	display: none;
}

.navbar a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
    margin-left: 35px;
}

.navbar a:hover {
    color: green;
    font-size: 25px;
}

.head {
    height: 150px;
    margin-left: 52px;
}

@media only screen and (max-width: 1000px) {
    .menu {
        display: block;
    }

    .navbar {
        position: fixed;
        top: 100%;
        left: 0;
        width: 100%;
        background: linear-gradient(75deg, rgb(0, 147, 37, 0.5), rgb(0, 56, 34, 0));
        backdrop-filter: blur(25px);
        display: none;
        text-align: left;
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
        border-bottom: 2px solid rgba(0, 255, 0, 0.2);
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        margin-top: 25px;
    }

    .MainLogo {
        width: 300px; 
        height: 300px
    }
}