<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home | Geantbot</title>
        <meta name="viewport", content="width=device-width, initial-scale=1.0">
        <meta content="Geantbot" property="og:title" />
        <meta content="Geantbot website" property="og:description" />
        <meta content="https://geantbot.xyz" property="og:url" />
        <meta content="https://geantbot.xyz/assets/logo.png" property="og:image"/>
        <link rel="stylesheet" type="text/css" href="css/home.css">
        <link rel="icon" type="image/png" href="/assets/logo.png">
    </head>
    <body>
        <header class="header">
            <img src="./assets/logo.png" width="100px" height="100px" onclick="window.location.href='/'" class="logo">
            <nav class="navbar">
                <a href="/" class="selected">Home</a>
                <a href="#">Terms of Service</a>
                <a href="#">Commands</a>
                <a href="#">Documentation</a>
                <a href="/login">Login with discord</a>
            </nav>
            <img src="assets/menu.png" class="menu" id="menu-icon">
        </header>
        <br><br><br><br><br><br><br>
        <div class="welcome">
            <div class="left">
                <br><br><br><br>
                <h1 class="Text">A multifunction bot for<br>your discord server</h1>
                <br>
                <h2 class="Text">with customization</h2>
                <br>
                <p class="Text">using discord.js@14.14.1</p>
                <h1 class="button"><a href="/login">Login with discord</a></h1>
                <br>
                <h1 class="Text">Already in <%= guilds %> servers</h1>
                <br>
                <h3 class="Text"><a href="https://forms.office.com/r/kCz08Y7MgC">Join the alpha/tester program now!</a></h3>
            </div>
            <div class="right">
                <img src="assets/logo.png" class="MainLogo">
            </div>
            <br>
            <div class="servers">
                <h1 class="Text" id="PopularText">Popular servers</h1>
                <section class="Pservers">
                    <ul class="server-list">
                        <li class="server">
                            <img src="assets/EtariadServer.png" width="100px" height="100px">
                            <p class="Text">Etariad serveur</p>
                        </li>
                        <li class="server">
                            <img src="assets/EtariadServer.png" width="100px" height="100px">
                            <p class="Text">Etariad serveur</p>
                        </li>
                        <li class="server">
                            <img src="assets/EtariadServer.png" width="100px" height="100px">
                            <p class="Text">Etariad serveur</p>
                        </li>
                        <li class="server">
                            <img src="assets/EtariadServer.png" width="100px" height="100px">
                            <p class="Text">Etariad serveur</p>
                        </li>
                        <li class="server">
                            <img src="assets/EtariadServer.png" width="100px" height="100px">
                            <p class="Text">Etariad serveur</p>
                        </li>
                        <li class="server">
                            <img src="assets/EtariadServer.png" width="100px" height="100px">
                            <p class="Text">Etariad serveur</p>
                        </li>
                    </ul>
                </section>       
            </div>
            <div class="features">
                <h1 class="Text" id="features">Our features</h1>
                <br><br>
                <div class="left">
                    <h2>Ban command</h2>
                    <br>
                    <img src="assets/Ban.png" id="Ban">
                    <p class="note">be careful before ban someone!</p>
                </div>
                <div class="right">
                    <h2>Kick command</h2>
                    <br>
                    <img src="assets/kickDemoBefore.png" id="Kick">
                    <p class="note">be careful before kick someone!</p>
                </div>
            </div>
            <div class="features">
                <div class="left">
                    <h2>Dashboard</h2>
                    <p>A dashboard for configure your server</p>
                </div>
                <div class="right">
                    <h2>Setup command</h2>
                    <p>Fast setup of your server without passing the dashboard</p>
                </div>
            </div>
        </div>

    </body>
</html>