<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home | Geantbot</title>
        <meta name="viewport", content="width=device-width, initial-scale=1.0">
        <meta content="Geantbot" property="og:title" />
        <meta content="Geantbot website" property="og:description" />
        <meta content="https://geantbot.xyz" property="og:url" />
        <meta content="https://geantbot.xyz/assets/logo.png" property="og:image"/>
        <link rel="stylesheet" type="text/css" href="css/home.css">
        <link rel="icon" type="image/png" href="/assets/logo.png">
    </head>
    <body>
        <header class="header">
            <img src="./assets/logo.png" width="100px" height="100px" onclick="window.location.href='/'" class="logo">
            <nav class="navbar">
                <a href="/" class="selected">Home</a>
                <a href="#">Terms of Service</a>
                <a href="#">Commands</a>
                <a href="#">Documentation</a>
                <a href="#">Login with discord</a>
            </nav>
            <img src="assets/menu.png" class="menu" id="menu-icon">
        </header>
        <br><br><br><br><br><br><br>
        <div class="welcome">
            <div class="left">
                <br><br><br><br>
                <h1 class="Text">A multifunction bot for<br>your discord server</h1>
                <br>
                <h2 class="Text">with customization</h2>
                <br>
                <p class="Text">using discord.js@14.14.1</p>
                <h1 class="button"><a href="/login">Login with discord</a></h1>
                <br>
                <h1 class="Text">Already in <%= guilds %> servers</h1>
                <br>
            </div>
            <div class="right">
                <img src="assets/logo.png" class="MainLogo">
            </div>
            <div class="servers">
                <h1 class="Text">Popular servers</h1>
                <section class="Pservers">
                    <ul class="server-list">
                        <img src="assets/EtariadServer.png" width="100px" height="100px">
                    </ul>
                </section>
                
            </div>
        </div>

    </body>
</html>