<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home | Geantbot</title>
        <meta name="viewport", content="width=device-width, initial-scale=1.0">
        <meta content="Geantbot" property="og:title" />
        <meta content="Geantbot website" property="og:description" />
        <meta content="https://geantbot.xyz" property="og:url" />
        <meta content="https://geantbot.xyz/assets/logo.png" property="og:image"/>
        <link rel="stylesheet" type="text/css" href="css/home.css">
        <link rel="icon" type="image/png" href="/assets/logo.png">
    </head>
    <body>
        <header class="header">
            <img src="./assets/logo.png" width="100px" height="100px" onclick="window.location.href='/'" class="logo">
            <nav class="navbar">
                <a href="/" class="selected">Home</a>
                <a href="#">Terms of Service</a>
                <a href="#">Commands</a>
                <a href="#">Documentation</a>
                <a href="#">Login with discord</a>
            </nav>
            <img src="assets/menu.png" class="menu" id="menu-icon">
        </header>
        <br><br><br><br><br><br><br>
        <div class="welcome">
            <h1 class="Text">Welcome to Geantbot</h1>
            <br>
            <h3 class="Text">multi-function bot for your discord server</h3>
            <h3 class="Text">using the latest discord.js package</h3>
            <br><br>
            <h1 class="Text">We coming back soon with more features!</h1>
            <br><br><br>
            <h1 class="Text">Copyright - SkyBeWorld 2024</h1>
        </div>
    </body>
</html>