<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= guild.name %> | Geantbot</title>
        <meta name="viewport", content="width=device-width, initial-scale=1.0">
        <meta content="Geantbot" property="og:title" />
        <meta content="Geantbot website" property="og:description" />
        <meta content="https://geantbot.xyz" property="og:url" />
        <meta content="https://geantbot.xyz/assets/logo.png" property="og:image"/>
        <link rel="stylesheet" type="text/css" href="../css/guild.css">
        <link rel="icon" type="image/png" href="../assets/logo.png">
    </head>
    <body>
        <header class="header">
            <img src="../assets/logo.png" width="100px" height="100px" onclick="window.location.href='/'" class="logo">
            <nav class="navbar">
                <a href="/" class="selected">Home</a>
                <a href="#">Terms of Service</a>
                <a href="#">Commands</a>
                <a href="#">Documentation</a>
                <a href="/logout">Logout (logged as <%= username %>)</a>
            </nav>
            <img src="../assets/menu.png" class="menu" id="menu-icon">
        </header>
        <br><br><br><br><br><br><br>
        <div class="head">
            <h1 class="Text">Welcome, @<%= username %>, let's configure <%= guild.name %></h1>
        </div>
        <br>
        <div class="settings">
            <h1 class="txt">Please select a setting!
                
            </h1>
        </div>
        <br>
        <script src="../Scripts/menu.js"></script>
    </body>
</html>